{{!-- Homepage --}}
{{> page-header header='Headlines'}}

<div class="container-fluid mx-0 px-0 smoke">
  <div class="row page-margin">
    <div id="infinite-div" class="col d-block col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 mx-0 px-0">
      {{#if articles}}
        {{#each articles}}
          {{> article-card}}
        {{else}}
          {{> article-card}}
        {{/each}}
      {{/if}}
    </div>
    <div class="col d-none d-lg-block col-lg-4 col-xl-4 sidebar-padding">
      <div class="sticky-top sticky-sidebar">
        {{#if sidebars}}
          {{> sidebar}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
<script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-firestore.js"></script>
<script src="/scripts/initialize-firebase.js"></script>
<script src="/scripts/infinite.js"></script>