{{> page-header header='Privacy Policy'}}
<div class="container">
  <div class="privacy-body">
    At Sauce On the Side (www.sauceots.com), the privacy of our visitors is extremely important.
    This Privacy Policy outlines the types of personal information that is received and collected
    and how it is used.
  
    Your use of this site, in any and all forms, constitutes an acceptance of this Privacy Policy.
  
    1. Log Files
  
    We use log files like many other websites. The information in the log files include:
    Internet Protocol addresses (IP) Types of browser Internet Service Provider (ISP) Date and
    time stamp Referring and exit pages Number of clicks All of this information is not linked to
    anything that is personally identifiable.
  
    2. Cookies
  
    We use cookies to store information about visitor preferences and to record user-specific
    information on visits and pages the user views so as to provide a custom experience. You
    should review the respective privacy policies on any and all third-party ad servers for more
    information regarding their practices and how to opt-out.
    If you wish to disable cookies you may do so through your web browser options. Instructions
    for doing so and for other cookie-related management can be found on the specific web browsers’
    websites.
  
    DoubleClick DART Cookie
  
    Google, a third party vendor, uses the DART cookie to serve ads. Users may opt out of the use of
    the DART cookie by visiting <a href="https://policies.google.com/technologies/ads">Google’s Content Network Privacy Policy</a>.
  </div>
</div>