{{!-- Beta Blox Footer --}}
<div class="bb-footer-container d-flex flex-column align-items-center justify-content-center">
  <div class="bb-image-wrapper">
    <img src="/sauce-logo-512-index.png" width="128" height="128"/>
  </div>
  <div class="bb-title-body-container">
    <h4 class="bb-footer-title">Sauce On The Side</h4>
    <div class="bb-footer-body">
      Sauce On the Side is a proud member of the BetaBlox business incubator and a ragtag
      assortment of service industry workers including line cooks, servers, and bartenders.
      We strive to provide the people who frequent our site with fresh, Servsafe Certified content.
    </div>
  </div>
</div>