{{!-- Copyright Footer --}}
<div class="copy-footer-container d-flex flex-column align-items-center justify-content-center">
  <ul class="d-inline-block copy-footer-list">
    <li class="d-inline">
      <a href="https://twitter.com/SauceOTS">
        <svg class="social-icon-svg social-icon-path" width="32" height="32" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          {{> twitter-icon}}
        </svg>
      </a>
    </li>
    <li class="d-inline social-list-margin">
      <a href="https://www.facebook.com/sauceots/">
        <svg class="social-icon-svg social-icon-path" width="32" height="32" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          {{> facebook-icon}}
        </svg>
      </a>
    </li>
    <li class="d-inline social-list-margin">
      <a href="https://www.instagram.com/sauce.ots/">
        <svg class="social-icon-svg social-icon-path" width="32" height="32" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
         {{> instagram-icon}}
        </svg>
      </a>
    </li>
  </ul>
  <div class="copy-footer-body">&copy;2018 Sauce On the Side</div>
</div>